#app {
    min-width: 100vw;
    min-height: 100vh;

    text-align: center;
}

form, a {
    border-radius: 2rem;
    padding: 0.3rem;
}

form {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding-right: 0.1rem;
}

input {
    border: none;
}

input:focus{
    outline: none
}

a {
    color: white;
    text-decoration: none;
    background-color: seagreen;
}

ul {
    list-style: none;
}
