#app {
    min-width: 100vw;
    min-height: 100vh;

    text-align: center;
}

form, a, li {
    border-radius: 2rem;
    padding: 0.3rem;
}

form, li {
    border: 1px solid lightgray;
}

form {
    width: fit-content;
    margin: 0 auto;
    padding-right: 0.1rem;
}

input {
    border: none;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a.subscribe {
    background-color: green;
}

a.remove {
    background-color: red;
    width: 7%;
    display: inline-block;
    font-weight: bold;
}

input:focus{
    outline: none
}


ul {
    list-style: none;
}

li {
    width: 30%;
    margin: 0 auto;
}

.email-item {
    width: 90%;
    display: inline-block;
}

.email-enter-active, .email-leave-active {
    transition: all .20s;
}
.email-enter-from, .email-leave-to {
    opacity: 0;
    transform: scale(.75);
}